// app global css in SCSS form

.log_viewer {
  padding: 18px;
  font-size: 12px;
  font-family: menlo, consolas, monaco, monospace;
  color: #a8abb1;
  height: calc(100vh - 32px);
  overflow: auto;

  .ansi-black-fg {
    color: #2d3139;
  }
  .ansi-red-fg {
    color: #e06c75;
  }
  .ansi-green-fg {
    color: #98c379;
  }
  .ansi-yellow-fg {
    color: #e5c07b;
  }
  .ansi-blue-fg {
    color: #61afef;
  }
  .ansi-magenta-fg {
    color: #c678dd;
  }
  .ansi-cyan-fg {
    color: #56b6c2;
  }
  .ansi-white-fg {
    color: #d7dae0;
  }
  .ansi-bright-black-fg {
    color: #7f848e;
  }
  .ansi-bright-red-fg {
    color: #f44747;
  }
  .ansi-bright-green-fg {
    color: #98c379;
  }
  .ansi-bright-yellow-fg {
    color: #e5c07b;
  }
  .ansi-bright-blue-fg {
    color: #528bff;
  }
  .ansi-bright-magenta-fg {
    color: #7e0097;
  }
  .ansi-bright-cyan-fg {
    color: #56b6c2;
  }
  .ansi-bright-white-fg {
    color: #d7dae0;
  }

  .ansi-black-bg {
    background-color: #2d3139;
  }
  .ansi-red-bg {
    background-color: #e06c75;
  }
  .ansi-green-bg {
    background-color: #98c379;
  }
  .ansi-yellow-bg {
    background-color: #e5c07b;
  }
  .ansi-blue-bg {
    background-color: #61afef;
  }
  .ansi-magenta-bg {
    background-color: #c678dd;
  }
  .ansi-cyan-bg {
    background-color: #56b6c2;
  }
  .ansi-white-bg {
    background-color: #d7dae0;
  }
  .ansi-bright-black-bg {
    background-color: #7f848e;
  }
  .ansi-bright-red-bg {
    background-color: #f44747;
  }
  .ansi-bright-green-bg {
    background-color: #98c379;
  }
  .ansi-bright-yellow-bg {
    background-color: #e5c07b;
  }
  .ansi-bright-blue-bg {
    background-color: #528bff;
  }
  .ansi-bright-magenta-bg {
    background-color: #7e0097;
  }
  .ansi-bright-cyan-bg {
    background-color: #56b6c2;
  }
  .ansi-bright-white-bg {
    background-color: #d7dae0;
  }
}
